body {
	background-color: #393E46;
}

.container {
	width: 70%;
	text-align: center;
	margin: auto;
}

.dice {
	text-align: center;
	display: inline-block;
}

p {
	font-family: 'Gotu', sans-serif;
	font-size: 2rem;
	color: #4ECCA3;
}

h1 {
	font-family: 'Baloo Da 2', cursive;
	margin: 30px;
	text-shadow: 5px 0 #232931;
	font-size: 5rem;
	color: #4ECCA3;
}

img {
	width: 80%;
}